body{
    background-color: #fff3d6;
}
.img-fluid{
    max-width: 15%;
    margin-left: 43%;

}
#encabezado{
    padding-top: 1%;
}
#portfolio{
    background-color:  #c5c063;
    padding-top: 1.5%;
    padding-bottom: 3%;
}
.imgmedia{
    max-width: 85%;
}
img{
    border-radius: 4%;
}
#descripcion{
    max-width: 60%;
    margin: auto;
}
.list-group-item{
    background-color: #dddcb5;
}
.icono{
    max-width: 35%;
    max-height: 35%;
}
#redes{
    padding-top: 3%;
    padding-left: 22.5%;
}
#contacto{
    padding-top: 4%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    background-color: #c5c063;
}
#copy{
    background-color: #5a5600;
}
.row{
    margin-top: 3vw;
}
